
.grid,
.grid__col {

    .no-flexbox & {
        float       : left;
    }
}

.grid {
    clear           : both;
    display         : flex;
    flex-direction  : row;
    flex-wrap       : wrap;
    width           : 100%;
}

.grid__col {
    flex            : 1;
}

.grid__col--half,
.grid__col--third,
.grid__col--two-thirds,
.grid__col--quarter {
    min-width       : 100%;
}

.grid__col--half {

    @include        media( mobile-landscape ) {
        min-width   : 50%;
    }

    .no-flexbox & {
        max-width   : 50%;
    }
}

.grid__col--quarter {

    @include        media( mobile-portrait ) {
        min-width   : 100%;
    }

    @include        media( mobile-landscape ) {
        min-width   : 50%;
    }

    @include    media( phablet ) {
        min-width   : 25%;
    }

    .no-flexbox & {

        @include    media( mobile-portrait ) {
            width   : 100%;
        }

        @include    media( mobile-landscape ) {
            width   : 50%;
        }

        @include    media( phablet ) {
            width   : 25%;
        }
    }
}

.grid__col--third {

    @include        media( mobile-landscape ) {
        min-width   : 33.333%;
    }

    .no-flexbox & {

        @include    media( mobile-landscape ) {
            width   : 33.333%;
        }
    }
}

.grid__col--two-thirds {

    @include        media( phablet ) {
        min-width   : 66.666%;
    }

    .no-flexbox & {

        @include    media( phablet ) {
            width   : 66.666%;
        }
    }
}

.grid__wrap {
    padding         : 5px;
    margin          : 5px;
}
